body{
    font-family: 'Press Start 2p', cursive;
    
}

#header{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    color: #ffcc00;
}

h1, h2{
    text-shadow: 2px 2px #000;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary{
    background-color: #ff5722;
    border: none;
}

.btn-primary:hover{
    background-color: #e64a19;
    transform: scale(1.1);
}

footer{
    background-color: linear-gradient(45deg, #333, #555);

}

@media(max-width: 768px){
    h1,h2 {
        font-size: 1.5rem
    }
}

